/* component.css */

header-component {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: white;
}

footer-component {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: white;
}