/* header.css */

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px 0;
    color: white;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    color: white;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}