/* main.css */

body {
    background-color: rgb(255, 255, 255);
    font-family: "Inter", Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}