/* main.css */

body {
    background-color: rgb(255, 255, 255);
    font-family: "Inter", Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.flex {
    display: flex;
}

.justify-cont {
    justify-content: center;
}

.justify-cont-sb {
    justify-content: space-between;
}

.margin-top {
    margin-top: 2rem;
}

.margin-auto {
    margin: auto;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

.min-h {
    min-height: 100vh;
}

.font-size {
    font-size: 1.5rem;
}

.line-height {
    line-height: 1.25;
}

.box-shadow {
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.1)
}