/* main.css */

body {
    background-color: rgb(255, 255, 255);
    font-family: "Inter", Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.justify-cont {
    justify-content: center;
}

.margin-top {
    margin-top: 2rem;
}

.flex-col {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.min-h {
    min-height: 100vh;
}

.font-size {
    font-size: 1.5rem;
}

.line-height {
    line-height: 1.25;
}