/* main.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}